.git
.githooks
.claude
.elixir_ls
_build
deps
node_modules
priv/static/assets
frontend/dist
frontend/test-results
frontend/playwright-report
priv/static/index.html
priv/static/*/index.html
priv/static/*/*/index.html
priv/static/*/*/*/index.html
priv/plts
cover
tmp
test
docs
*.md
.env*
erl_crash.dump
